<%- include("header") %>
<h1>this is a about page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsam officiis
  consequuntur nobis magnam. Quisquam quaerat suscipit ea! Fugiat aliquam,
  dolorem error architecto excepturi consectetur voluptas possimus porro labore!
  Illo at tempora minima nesciunt! Culpa deleniti aliquam adipisci sed
  aspernatur sint fugiat temporibus ut tempore, fugit soluta, eveniet, quae
  aperiam cum tenetur consectetur voluptatibus repudiandae corporis.
</p>

<%- include("footer") %>